body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    font-size: 11px;
}

/* header */

#header {
    background: #793 url('../images/header-bg.png') repeat-x;
    border-top: 4px solid #9a3;
    height: 30px;
    padding: 10px 30px 10px 30px;
}
#header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* site menu */

#site-menu {
    margin: 0;
    padding: 4px 40px 4px 40px;
}
#site-menu a {
    color: #793;
    margin: 0px 10px 0 10px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
}
#site-menu a.current-node {
    background: #573 url('../images/header-menu-bg.png') repeat-x;
    color: white;
    margin: 0px 10px 0 10px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    border-bottom: 4px solid #9a3;
}

#main {
    width: 750px;
    margin: 10px auto 10px auto;
    display: table;
}

/* abstract */

#abstract {
    width: 230px;
    float: left;
    padding: 10px;
}
#abstract h1 {
    font-size: 14px;
    font-weight: normal;
    color: #05a;
}
#abstract h2 {
    font-size: 11px;
    font-weight: bold;
}
#abstract p {
    font-family: serif;
}
#abstract a {
    color: #05a;
    text-decoration: none;
}

#content {
    width: 460px;
    float: right;
    padding: 10px;
}
#content h2, #content h2 a {
    font-size: 14px;
    font-family: serif;
    font-weight: normal;
    color: #753;
    text-decoration: none;
}
#content a {
    color: #05a;
    text-decoration: none;
}
#content p {
    text-align: justify;
}
#content h3 {
    font-size: 11px;
}
#footer {
    border-top: 1px solid #ccc;
    padding: 10px;
    font-size: 9px;
}
#footer p {
    width: 730px;
    margin: 4px auto 4px auto;
    text-align: justify;
}
#footer a {
    color: #793;
    text-decoration: none;
}
pre {
    border-left: 10px solid #bdf;
    padding-left: 10px;
}
table.eqnarray {
  margin: 0 auto 0 auto;
}
table.eqnarray td {
  padding: 2px 5px 2px 5px;
}
table.eqnarray col.leftside {
  text-align: right;
}
table.eqnarray col.middle {
  text-align: center;
}
table.eqnarray col.rightside {
  text-align: left;
}

/* news */

.news-info {
   color: #555;
   font-size: 9pt;
   font-family: serif;
   border-top: 1px solid #ccc;
   padding-top: 4px;
}
div.news h2 {
   margin-bottom: 2px;
}
#path {
   padding: 5px 10px 5px 10px;
   color: #555;
   border-bottom: 1px solid #ccc;
   margin-top: 15px;
}
#path a {
   color: #555;
   text-decoration: none;
}
#disqus_thread {
   margin-top: 40px;
}
